.parent-component-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 4vh;
  margin-block-start: 0;
  //background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
